<style>
    #searchForm{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        /* background-color: aqua; */
    }
    .searchContainer {
        background-color: #0055FF;
        border-radius: 50px;
        padding: 12px 20px;
        display: inline;
        box-shadow: 10px 10px 20px 2px rgba(213, 213, 213, 0.685);
    }
    
    .searchBar {
        color: white;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 1rem;
    }
    .searchBar::placeholder{
        color: white;
    }

    #keywordInput {
        padding: 4px 8px;
        width: 330px;
    }

    #experienceInput {
        padding: 4px 8px;
        width: 180px;
        cursor: pointer;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }
    #experienceInput option{
        background-color: #F0F4FF;
        color: black;
    }
    
    #locationInput {
        width: 180px;
        padding: 4px 8px;
    }

    #location-suggestions {
        display: none;
        position: absolute;
        font-size: 1rem;
        width: 14%;
        right: 28%;
        top: 166px;
        border-radius: 12px;
        overflow-y: hidden;
        border: 1px solid #0055FF;
        background-color: #F0F4FF;
    }

    #location-suggestions ul {
        list-style: none;
        /* margin-left: 6px; */
    }

    #location-suggestions ul li {
        cursor: pointer;
        line-height: 1.3em;
        padding: 1px 8px;
        /* background-color: green; */
    }
    #location-suggestions ul li:hover{
        background-color: #a7a7a7ae;
    }
    .searchContainer button{
        font-size: 1rem;
        border-radius: 12px;
        cursor: pointer;
        background-color: #F0F4FF;
        outline: none;
        border: none;
        padding: 4px 16px;
    }
    #searchSubmit{
        transition: all 0.9s ease;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<form id="searchForm" action="{% url 'find-job' %}">
    <div class="searchContainer">
        <input value="{{keywordInput}}" class="searchBar" type="text" name="keywordInput" id="keywordInput"
            placeholder="Enter keyword / designation / companies" required>
        <select class="searchBar" name="experienceInput" id="experienceInput" required>
            <option value="" disabled selected hidden>Select experience</option>
            <option {% if experienceInput == 'None' %}
              selected
            {% endif %} value="None">None</option>
            <option {% if experienceInput == '0-1 year' %}
              selected
            {% endif %} value="0-1 year">0-1 year</option>
            <option {% if experienceInput == '1-2 years' %}
              selected
            {% endif %} value="1-2 years">1-2 years</option>
            <option {% if experienceInput == '2-3 years' %}
              selected
            {% endif %} value="2-3 years">2-3 years</option>
            <option {% if experienceInput == '3-4 years' %}
              selected
            {% endif %} value="3-4 years">3-4 years</option>
            <option {% if experienceInput == '4-5 years' %}
              selected
            {% endif %} value="4-5 years">4-5 years</option>
            <option {% if experienceInput == '5-10 years' %}
              selected
            {% endif %} value="5-10 years">5-10 years</option>
            <option {% if experienceInput == '10-15 years' %}
              selected
            {% endif %} value="10-15 years">10-15 years</option>
            <option {% if experienceInput == '15+ years' %}
              selected
            {% endif %} value="15+ years">15+ years</option>
        </select>
        <input value="{{locationInput}}" class="searchBar" type="text" name="locationInput" id="locationInput" placeholder="Enter location"
            autocomplete="off" required>
        <div id="location-suggestions">
            <ul id="location-suggestions-list"></ul>
        </div>
        <button type="submit" class="show" id="searchSubmit">Search</button>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('#locationInput').on('input', function () {
            const locationInput = $(this).val();
            if (locationInput.length >= 2) {
                $.get('/get_location_suggestions', { locationInput: locationInput }, function (data) {
                    const suggestionsList = $('#location-suggestions-list');
                    suggestionsList.empty();
                    data.suggestions.slice(0, 25).forEach(function (suggestion) {
                        $('#location-suggestions').css('display', 'block');
                        const listItem = $('<li>' + suggestion + '</li>');
                        listItem.on('click', function () {
                            $('#locationInput').val(suggestion);
                            suggestionsList.empty();
                        });
                        suggestionsList.append(listItem);
                    });
                });
            }
        });
    });

</script>