*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 15px auto;
}

.hero-content {
    margin: 12px;
}

.hero-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1em; */
}

.text-recommend {
    color: orange;
}

.hero-box a {
    text-decoration: none;
}

.box {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid rgba(190, 190, 190, 0.696);
    background-color: #FFFFFF;
    width: 700px;
    padding: 24px 40px;
    margin-bottom: 1em;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
}

.box:hover {
    box-shadow: 0px 0px 20px 2px rgba(213, 213, 213, 0.685);
}

.box-head {
    display: flex;
    justify-content: space-between;
}

.box-title h3 {
    color: black;
    font-size: 1.3rem;
    line-height: 1.1em;
}

.box-title h5 {
    color: black;
    font-size: 1.1rem;
}

.box-img img {
    width: 60px;
    height: 60px;
    border-radius: 12px;
}

.box-list {
    color: rgb(80, 80, 80);
    font-size: 1rem;
}

.box-list-top {
    display: flex;
    gap: 2em;
    line-height: 2em;
}

.box-list-top span i {
    padding-right: 3px;
}

.box-list-top .rupee {
    padding: 0 30px;
    border-left: 1px solid rgb(223, 223, 223);
    border-right: 1px solid rgb(223, 223, 223);
}

.box-list-bottom {
    font-size: 1rem;
}

.box-list-bottom span i {
    padding-right: 3px;
}

.box-content {
    font-size: 0.9rem;
    color: #717B9E;
    line-height: 2em;
}

.box-end {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #717B9E;
    line-height: 2em;
}

.box-end .box-btn {
    display: flex;
    gap: 1em;
}

.box-end .box-btn a {
    text-decoration: none;
    color: #717B9E;
}

.box-end .box-btn .hide,
.save,
.unsave {
    transition: color 500ms ease;
    cursor: pointer;
}

.box-end .box-btn .hide:hover,
.save:hover {
    color: rgb(0, 85, 255);
}

.unsave:hover {
    color: orange;
}